{% extends 'login/navbar.html'%}
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">  
    <head>
        <title>Account</title>
    </head>

    <body>

        {% block content %}
        <div class="form-container">
            <h1 class="header">Welcome, {{request.user.username}}</h1>
            <p class="paragraph">
                User Type: {{ user_type }}
            </p>
            <p class="paragraph">
                Verified user: {{ email_verified }}
            </p>
            <form class="form" action="{% url 'login:index' %}" method="post">
                {% csrf_token %}
                <p class="title">Your account </p>
                <p class="message">Here is the dashboard for your account</p>
                    <div class="flex">
                        
                    <label>
                        <input class="input"  type="text" placeholder="{{request.user.first_name}}" name="first_name">
                        <span>Firstname</span>
                    </label>
                        
                    <label>
                        <input class="input"  type="text" placeholder="{{request.user.last_name}}" name="last_name">
                        <span>Lastname</span>
                    </label>
                </div>  
                        
                
                <label>
                    <input class="input" type="text" placeholder="{{request.user.username}}" name="username">
                    <span>Username</span>
                </label> 
                
                <p class="signin">Change password</p>
                <label>
                    <input class="input" type="password" placeholder="" name="password">
                    <span>Password</span>
                </label>
                <label>
                    <input class="input" type="password" placeholder="" name="password_confirm">
                    <span>Confirm password</span>
                </label>
                
                <label>
                    <input class="input" type="text" placeholder="{{request.user.email}}" name="email">
                    <span>Email</span>
                </label> 
                {% if user_type == "patient" %}
                    <label>
                        <input class="input" type="text" placeholder="{{code}}" name="code">
                        <span>Assignment Code</span>
                    </label> 
                        Your doctor with the same code: {{doctor}}
                {% else %}
                        Your code is: {{code}}
                {% endif %}
                
                <button class="submit" type="submit" value="Change" name="Change">Change</button>
                <button class="submit" type="submit" value="Register" href="{% url 'login:logout' %}" name="Logout">Log out</button>
            </form>
            </div>

            
        <!-- <form action="{% url 'login:index' %}" method="post">
            {% csrf_token %}
            {{request.user.first_name}}
            <input type="text" placeholder="First Name" name="first_name">
            <br>
            {{request.user.last_name}}
            <input type="text" placeholder="Last Name" name="last_name">
            <br>
            {{request.user.username}}
            <input type="text" placeholder="username" name="username">
            <br>
            <h1>Change Password</h1>
            <input type="password" placeholder="password" name="password">
            <br>
            <input type="password" placeholder="password Confirm" name="password_confirm">
            <br>
            {{request.user.email}}
            <input type="text" placeholder="New Email" name="email">
            <br>
            <input type="submit" value="Change">
        </form> -->

        {% if message %}
        <div>{{ message }}</div>
        {% endif %}

        <!-- <a href="{% url 'login:logout' %}">Logout</a> -->
        {% endblock %}
    </body>
    