{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!--=============== REMIXICONS ===============-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">

   <!--=============== CSS ===============-->
   <link rel="stylesheet" href="{% static 'login/css/styles.css' %}">
   
   <title>Responsive login and registration form - Bedimcode</title>
</head>

<body>
   <!--=============== LOGIN IMAGE ===============-->
   <svg class="login__blob" viewBox="0 0 566 840" xmlns="http://www.w3.org/2000/svg">
      <mask id="mask0" mask-type="alpha">
         <path d="M342.407 73.6315C388.53 56.4007 394.378 17.3643 391.538 
         0H566V840H0C14.5385 834.991 100.266 804.436 77.2046 707.263C49.6393 
         591.11 115.306 518.927 176.468 488.873C363.385 397.026 156.98 302.824 
         167.945 179.32C173.46 117.209 284.755 95.1699 342.407 73.6315Z"/>
      </mask>
   
      <g mask="url(#mask0)">
         <path d="M342.407 73.6315C388.53 56.4007 394.378 17.3643 391.538 
         0H566V840H0C14.5385 834.991 100.266 804.436 77.2046 707.263C49.6393 
         591.11 115.306 518.927 176.468 488.873C363.385 397.026 156.98 302.824 
         167.945 179.32C173.46 117.209 284.755 95.1699 342.407 73.6315Z"/>
   
         <!-- Insert your image (recommended size: 1000 x 1200) -->
         <image class="login__img" href="{% static 'login/img/bg-img.jpg' %}"/>
      </g>
   </svg>      

   <!--=============== LOGIN ===============-->
   <div class="login container grid" id="loginAccessRegister">
      <!--===== LOGIN ACCESS =====-->
      <div class="login__access">
         <h1 class="login__title">Log in to your account.</h1>
         {% if message %}
         <div>{{ message }}</div>
         {% endif %} 
         <div class="login__area">
            <form action="" class="login__form" action="{% url 'login:login' %}" method="post">
               {% csrf_token %}
               <div class="login__content grid">
                  <div class="login__box">
                     <input type="input" id="username" required placeholder=" " class="login__input" name = "username_login">
                     <label for="username" class="login__label">Username</label>
                  </div>
      
                  <div class="login__box">
                     <input type="password" id="password" required placeholder=" " class="login__input" name = "password_login">
                     <label for="password" class="login__label">Password</label>
         
                     <i class="ri-eye-off-fill login__icon login__password" id="loginPassword"></i>
                  </div>
               </div>
      
               <a href="#" class="login__forgot">Forgot your password?</a>
      
               <button type="submit" class="login__button" name="buton_login" value="buton_login">Login</button>
            </form>
   
            <p class="login__switch">
               Don't have an account? 
               <button id="loginButtonRegister">Create Account</button>
            </p>
         </div>
      </div>

      <!--===== LOGIN REGISTER =====-->
      <div class="login__register">
         <h1 class="login__title">Create new account.</h1>

         <div class="login__area">
            <form action="" class="login__form" method = "post" action="{% url 'login:login' %}">
               {% csrf_token %}
               <div class="login__content grid">
                  <div class="login__group grid">
                     <div class="login__box">
                        <input type="text" id="names" required placeholder=" " class="login__input" name="firstname">
                        <label for="names" class="login__label">Names</label>
   
                        <i class="ri-id-card-fill login__icon"></i>
                     </div>
   
                     <div class="login__box">
                        <input type="text" id="surnames" required placeholder=" " class="login__input" name="lastname">
                        <label for="surnames" class="login__label">Surnames</label>
   
                        <i class="ri-id-card-fill login__icon"></i>
                     </div>
                  </div>

                  <div class="login__box">
                     <input type="input" id="username" required placeholder=" " class="login__input" name="username">
                     <label for="username" class="login__label">Username</label>
                  </div>

                  <div class="login__box">
                     <input type="email" id="emailCreate" required placeholder=" " class="login__input" name="email">
                     <label for="emailCreate" class="login__label">Email</label>

                     <i class="ri-mail-fill login__icon"></i>
                  </div>

                  <div class="login__box">
                     <input type="password" id="passwordCreate" required placeholder=" " class="login__input" name="password">
                     <label for="passwordCreate" class="login__label" >Password</label>

                     <i class="ri-eye-off-fill login__icon login__password" id="loginPasswordCreate"></i>
                  </div>

                  <div class="login__box">
                     <input type="password" id="passwordCreate" required placeholder=" " class="login__input" name="password_confirm">
                     <label for="passwordCreate" class="login__label" >Password Confirm</label>

                     <i class="ri-eye-off-fill login__icon login__password" id="loginPasswordCreate"></i>
                  </div>
               
                  <label>
                     <select class="input" name="user_type"
                        style="background-color: #f4f6fb; color: #9ba4b5; width: 100%; padding: 20px 5px 5px 10px; outline: none; border: 1px solid rgba(105, 105, 105, 0.397); border-radius: 10px; font-weight: 600; font-size: 1rem;
                        text-align: center; /* Centers text in Chrome /
                        text-align-last: center; / Centers text in Firefox */">

                        <option value="patient"
                           style="font-weight: 600; font-size: 1rem; transition: transform .4s, font-size .4s, color .4s;">
                           Pacient
                        </option>
                        <option value="doctor"
                           style="font-weight: 600; font-size: 1rem; transition: transform .4s, font-size .4s, color .4s;">
                           Doctor
                        </option>
                     </select>
                  </label>
               </div>
               <button type="submit" class="login__button" name="buton_register" value="buton_register">Create account</button>
            </form>

            <p class="login__switch">
               Already have an account? 
               <button id="loginButtonAccess">Log In</button>
            </p>
         </div>
      </div>
   </div>
   
   <!--=============== MAIN JS ===============-->
   <script src="{% static 'login/js/main.js' %}"></script>

</body>

</html>