{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!--=============== REMIXICONS ===============-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">

   <!--=============== CSS ===============-->
   <link rel="stylesheet" href="{% static 'login/css/styles.css' %}">
   
   <title>Set New Password - Clinica</title>
</head>

<body>
   <!--=============== LOGIN IMAGE ===============-->
   <svg class="login__blob" viewBox="0 0 566 840" xmlns="http://www.w3.org/2000/svg">
      <mask id="mask0" mask-type="alpha">
         <path d="M342.407 73.6315C388.53 56.4007 394.378 17.3643 391.538 
         0H566V840H0C14.5385 834.991 100.266 804.436 77.2046 707.263C49.6393 
         591.11 115.306 518.927 176.468 488.873C363.385 397.026 156.98 302.824 
         167.945 179.32C173.46 117.209 284.755 95.1699 342.407 73.6315Z"/>
      </mask>

      <g mask="url(#mask0)">
         <path d="M342.407 73.6315C388.53 56.4007 394.378 17.3643 391.538 
         0H566V840H0C14.5385 834.991 100.266 804.436 77.2046 707.263C49.6393 
         591.11 115.306 518.927 176.468 488.873C363.385 397.026 156.98 302.824 
         167.945 179.32C173.46 117.209 284.755 95.1699 342.407 73.6315Z"/>

         <image class="login__img" href="{% static 'login/img/bg-img.jpg' %}"/>
      </g>
   </svg>      

   <!--=============== SET NEW PASSWORD ===============-->
   <div class="login container grid">
      <div class="login__access">
         <h1 class="login__title">Set new password</h1>

         <div class="login__area">
            <form method="post" class="login__form">
               {% csrf_token %}
               
               <div class="login__content grid">
                  <div class="login__box">
                     <input type="password" 
                            id="password" 
                            name="password" 
                            required 
                            placeholder=" " 
                            class="login__input">
                     <label for="password" class="login__label">New Password</label>
                     <i class="ri-eye-off-fill login__icon login__password" id="password-icon"></i>
                  </div>

                  <div class="login__box">
                     <input type="password" 
                            id="confirm_password" 
                            name="confirm_password" 
                            required 
                            placeholder=" " 
                            class="login__input">
                     <label for="confirm_password" class="login__label">Confirm Password</label>
                     <i class="ri-eye-off-fill login__icon login__password" id="confirm-password-icon"></i>
                  </div>
               </div>

               <button type="submit" class="login__button">Reset Password</button>
            </form>
         </div>
      </div>
   </div>

   <!--=============== MAIN JS ===============-->
   <script>
      // Show/hide password toggle
      const passwordInput = document.getElementById('password');
      const passwordIcon = document.getElementById('password-icon');
      const confirmPasswordInput = document.getElementById('confirm_password');
      const confirmPasswordIcon = document.getElementById('confirm-password-icon');

      passwordIcon.addEventListener('click', () => {
         if(passwordInput.type === 'password') {
            passwordInput.type = 'text';
            passwordIcon.classList.add('ri-eye-fill');
            passwordIcon.classList.remove('ri-eye-off-fill');
         } else {
            passwordInput.type = 'password';
            passwordIcon.classList.remove('ri-eye-fill');
            passwordIcon.classList.add('ri-eye-off-fill');
         }
      });

      confirmPasswordIcon.addEventListener('click', () => {
         if(confirmPasswordInput.type === 'password') {
            confirmPasswordInput.type = 'text';
            confirmPasswordIcon.classList.add('ri-eye-fill');
            confirmPasswordIcon.classList.remove('ri-eye-off-fill');
         } else {
            confirmPasswordInput.type = 'password';
            confirmPasswordIcon.classList.remove('ri-eye-fill');
            confirmPasswordIcon.classList.add('ri-eye-off-fill');
         }
      });
   </script>

</body>
</html>