{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!--=============== REMIXICONS ===============-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">

   <!--=============== CSS ===============-->
   <link rel="stylesheet" href="{% static 'login/css/styles.css' %}">
   
   <title>Reset Password - Clinica</title>
</head>

<body>
   <!--=============== LOGIN IMAGE ===============-->
   <svg class="login__blob" viewBox="0 0 566 840" xmlns="http://www.w3.org/2000/svg">
      <mask id="mask0" mask-type="alpha">
         <path d="M342.407 73.6315C388.53 56.4007 394.378 17.3643 391.538 
         0H566V840H0C14.5385 834.991 100.266 804.436 77.2046 707.263C49.6393 
         591.11 115.306 518.927 176.468 488.873C363.385 397.026 156.98 302.824 
         167.945 179.32C173.46 117.209 284.755 95.1699 342.407 73.6315Z"/>
      </mask>

      <g mask="url(#mask0)">
         <path d="M342.407 73.6315C388.53 56.4007 394.378 17.3643 391.538 
         0H566V840H0C14.5385 834.991 100.266 804.436 77.2046 707.263C49.6393 
         591.11 115.306 518.927 176.468 488.873C363.385 397.026 156.98 302.824 
         167.945 179.32C173.46 117.209 284.755 95.1699 342.407 73.6315Z"/>

         <image class="login__img" href="{% static 'login/img/bg-img.jpg' %}"/>
      </g>
   </svg>      

   <!--=============== RESET PASSWORD ===============-->
   <div class="login container grid">
      <div class="login__access">
         <h1 class="login__title">Reset your password</h1>

         <div class="login__area">
            <form method="post" class="login__form">
               {% csrf_token %}
               
               <div class="login__content grid">
                  <div class="login__box">
                     <input type="email" 
                            id="email" 
                            name="email" 
                            required 
                            placeholder=" " 
                            class="login__input">
                     <label for="email" class="login__label">Email</label>
                     <i class="ri-mail-fill login__icon"></i>
                  </div>
               </div>

               <button type="submit" class="login__button">Send Reset Link</button>
            </form>

            <p class="login__switch">
               Remember your password?
               <a href="{% url 'login:login' %}">Log in</a>
            </p>
         </div>
      </div>
   </div>

</body>
</html>