<!DOCTYPE html>
<html>
<nav class="navbar navbar-expand-xl fixed-top" id="navbar">
    <div class="container">
        <a class="navbar-brand me-auto" href="{% url 'index' %}">Logo</a>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Logo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                    <!-- About Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle mx-lg-2" href="#" id="aboutDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="section-title">Sindromul</span> Prader-Wili
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
                            <li><a class="dropdown-item" href="{% url 'ghiduri' %}">Ghiduri</a></li>
                            <li><a class="dropdown-item" href="{% url 'protocoale' %}">Protocoale</a></li>
                            <li><a class="dropdown-item" href="{% url 'diagnostic' %}">Diagnostic</a></li>
                            <li><a class="dropdown-item" href="{% url 'tratament_gh' %}">Tratament GH</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Tratament</a></li>
                        </ul>
                        
                    </li>

                     <li class="nav-item">
    {% if user.is_authenticated %}
        {% if user.is_staff %}
            <a class="nav-link mx-lg-2" href="{% url 'appointments:doctor_schedule' %}">
                Appointments
            </a>
        {% else %}
            <a class="nav-link mx-lg-2" href="{% url 'appointments:patient_appointments' %}">
                Appointments
            </a>
        {% endif %}
    {% else %}
        <a class="nav-link mx-lg-2" href="{% url 'login:login' %}">
            Appointments
        </a>
    {% endif %}
</li>


                </ul>
            </div>
        </div>
        <a href="{% url 'login:login' %}" class="login-button">Login</a>
        <button class="navbar-toggler pe-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
{%block content%}
{%endblock%}

</html> 