<!DOCTYPE html>
<html>
<nav class="navbar navbar-expand-xl fixed-top" id="navbar">
    <div class="container">
        <a class="navbar-brand me-auto" href="{% url 'index' %}">Logo</a>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Logo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                    <!-- About Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle mx-lg-2" href="#" id="aboutDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="section-title">Sindromul</span> Prader-Wili
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
                            <li><a class="dropdown-item" href="{% url 'ghiduri' %}">Ghiduri</a></li>
                            <li><a class="dropdown-item" href="{% url 'protocoale' %}">Protocoale</a></li>
                            <li><a class="dropdown-item" href="{% url 'diagnostic' %}">Diagnostic</a></li>
                            <li><a class="dropdown-item" href="{% url 'tratament_gh' %}">Tratament GH</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Tratament</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Evaluare inițială și
                                    monitorizare</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Laboratoare
                                    diagnostic</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Clinici îngrijire</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Alerte</a></li>
                        </ul>
                    </li>
                    <!-- About Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle mx-lg-2" href="#" id="aboutDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="section-title">Obezitati</span> Rare
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Patologii</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Tratament</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Monitorizare</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Laboratoare
                                    diagnostic</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Clinici
                                    îngrijire</a></li>
                        </ul>
                    </li>
                    <!-- Services Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle mx-lg-2" href="#" id="aboutDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="section-title">Traseul</span> Pacientului
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Centre de îngrijire</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Asociații de
                                    pacienți</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Medico-social</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Viața școlară</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Viața socială</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Proiecte de viață</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Formare
                                    profesională</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Hobby</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Servicii sociale</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Tranziția
                                    adolescent adult</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Urgențe
                                    și riscuri de decompensare</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Călătorii</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Screening</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Forum de discuții</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Cercetare clinică</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Centre de expertiză</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Servici medicale</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'Test' %}">Educația familiei și a
                                    instituțiilor</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Comportament</a></li>
                        </ul>
                    </li>
                    <!-- Portfolio Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle mx-lg-2" href="#" id="aboutDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="section-title">Educatia terapeutica</span> a pacientului
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="portfolioDropdown">
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Instrumente dietă</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Workshop</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Rețete culinare</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Îngrijire</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Aspecte psihologice</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Activitate fiziză</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Instrumente
                                    practice de îngrijire</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Tratamentul cu
                                    hormon de creștere</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Link-uri utile</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Recomandări</a></li>
                        </ul>
                    </li>
                    <!-- Contact Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle mx-lg-2" href="#" id="aboutDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="section-title">Echipa</span> Multidisciplinara
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="contactDropdown">
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Profesioniști
                                    implicați</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Plan de acțiune</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Grupuri de lucru</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Planul întâlnirilor</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">CPMS</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Planul de Boli Rare</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Parteneri</a></li>
                        </ul>
                    </li>
                    <!-- About Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle mx-lg-2" href="#" id="aboutDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="section-title">Formare si</span> Informare
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Evenimente</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Newsletter</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Radio Noro</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Webinar</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Tutoriale</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Podcast</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Video</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Formare pentru
                                    medici</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Formare pentru
                                    pacienți</a></li>
                        </ul>
                    </li>
                    <!-- About Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle mx-lg-2" href="#" id="aboutDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="section-title"></span> Cercetare
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Actualități</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Tipuri de cercetare</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Cercetare Europa</a></li>

                        </ul>
                    </li>
                    <!-- About Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle mx-lg-2" href="#" id="aboutDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="section-title">Tratamentul</span> cu GH
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Protocol de
                                    tratament</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Informații
                                    despre medicament</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Protocoale
                                    terapeutice</a></li>
                            <li><a class="dropdown-item" href="{% url 'Test' %}">Monitorizarea
                                    tratamentului</a></li>


                        </ul>
                    </li>
                    <!-- About Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle mx-lg-2" href="#" id="aboutDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="section-title">Registru</span> National
                        </a>

                    </li>

                </ul>
            </div>
        </div>
        <a href="{% url 'login:login' %}" class="login-button">Login</a>
        <button class="navbar-toggler pe-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
{%block content%}
{%endblock%}

</html>