{% extends 'index/navbar.html'%}
{% load static %}
{% load custom_filters %}


<!DOCTYPE html>
<html lang="en">
{%block content%}

<head>

    <title>Prader-Wili</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="apple-touch-icon" type="image/png"
        href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png">
    <link rel="shortcut icon" type="image/x-icon"
        href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico">
    <link rel="mask-icon" type="image/x-icon"
        href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg"
        color="#111">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="{% static 'index/style.css' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" />

    <style>
        /*Caruselul lui catalin*/
        .item {
            transition: transform 0.3s ease;
            /* Smooth transition for scaling */
            cursor: pointer;
            /* Indicate that the item is clickable */
        }

        .item:hover {
            transform: scale(1.05);
            /* Scale the card on hover */
        }

        .item-desc {
            position: relative;
            z-index: 1;
            /* Ensure text appears above the background */
            padding: 10px;
            /* Add some padding */
            color: white;
            /* Adjust text color for visibility */
        }

        /* Media query for small devices (small phones) */
        @media (max-width: 768px) {
            body {
                font-size: 1.2rem;
            }

            th,
            td {
                padding: 8px;
            }
        }

        /* Media query for extra-small devices (small phones) */
        @media (max-width: 480px) {
            body {
                font-size: 1rem;
            }

            th,
            td {
                padding: 6px;
            }
        }

        /* Card container styling */
        .card-container {
            padding: 5%;
            background: rgba(236, 236, 236, 0.67);
            border-radius: 20px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            margin: 20px auto;
        }
        .card-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
        .card {
        flex: 1;
        margin: 10px;
        display: flex;
        flex-direction: column;
    }


        /* Heading and list styling */
        .card-container h1 {
            font-size: 2rem;
            text-align: center;
        }

        .card-container ul {
            font-size: 1.5rem;
            padding-left: 20px;
            list-style: none;
        }

        /* Responsive adjustments */
        @media (max-width: 768px) {
            .card-container h1 {
                font-size: 1.5rem;
            }

            .card-container ul {
                font-size: 1.2rem;
            }
        }

        @media (max-width: 480px) {
            .card-container h1 {
                font-size: 1.2rem;
            }

            .card-container ul {
                font-size: 1rem;
            }
        }

        .table_container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            background-color: rgba(236, 236, 236, 0.67);
        }

        .title {
            text-align: center;
            font-size: 2rem;
        }

        .clinical-table {
            width: 100%;
            border-collapse: collapse;
        }

        .header {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
            background-color: #efefef;
        }

        .cell {
            border: 1px solid #ddd;
            padding: 10px;
        }

        .footer {
            background-color: #0c926e;
            padding: 10px;
            text-align: center;
            font-size: 12px;
            line-height: 1.5;
        }

        .container2 p {
            margin: 0;
            padding: 0;
            word-wrap: break-word;
            /* Ensures the text breaks to the next line */
            max-width: 100%;
            /* Ensures it doesn't overflow */
        }
    </style>
    <title>Styled Links</title>



</head>


<body>

    <!-- Script section -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
        AOS.init();
    </script>
    <script src="{% static 'index/scripts.js' %}"></script>
    <!--Bootsrap scripts-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous"></script>

    <div class="photo-section" id="home">
        <img class="photo_art" src="{% static 'index/Resources/p2.jpg' %}" alt="Descriptive Alt Text">
        <div class="photo-overlay">
            <p>Trasaturi clinice</p>
            <p> {% with path=request.get_full_path|split:"/" %}
                {{ path.2 }} <!-- pt partea a 2-a din link gen ghiduri patoligii etc -->
                <!-- {{ path.1 }} asta e pt prima parte din link gen prader-wili obezitati rare etc -->
                {% endwith %}
            </p>
        </div>
    </div>



    <!-- INCEPUT SITE-->


    <!-- Sectiune informatii -->
    <div class="row g-0">
        <div class="col-12 col-md-6">
            <div class="card-container">
                <h1>Tablou clinic prenatal</h1>
                <ul>
                    <li>• hipotonie prenatala, hipomobilitate fetala</li>
                    <li>• pozitie fetala anormala la nastere</li>
                    <li>• copil mic pentru varsta gestationala</li>
                    <li>• crestere intrauterina asimetrica cu cresterea raportului cap/abdomen</li>
                    <li>• polihidraminos</li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card-container">
                <h1>Tablou clinic neonatal</h1>
                <ul>
                    <li>• hipotonie centrala, hipomobilitate, letargie, plans slab, reflexe scazute, supt deficitar,
                        difagie, apetit scazut</li>
                    <li>• nevoie de tub nazogastric, mameloane artificiale</li>
                    <li>• hipotonia se amelioreaza in timp, insa exista un grad de hipotonie in copilarie si la varsta
                        de adult</li>
                    <li>• sprijin emoțional și consiliere</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row g-0">
        <div class="col-12 col-md-6">
            <div class="card-container">
                <h1>Retard de dezvoltare</h1>
                <ul>
                    <li>• achizitii dobandite la varsta dubla fata de varsta obisnuita</li>
                    <li>• retard al limbajului, tulburari ale limbajului, anomalii ale articularii cuvintelor, apraxie,
                        insa abilitati verbale bune.</li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card-container">
                <h1>Imunodeficiența</h1>
                <ul>
                    <li>• Poate fi congenitală sau dobândită</li>
                    <li>• Infecții recurente (virale, bacteriene, fungice)</li>
                    <li>• Examen clinic de neglijare</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row g-0">
        <div class="col-12 col-md-6">
            <div class="card-container">
                <h1>Hipogonadism</h1>
                <ul class="section-list">
                    <li>• Hipogonadism hipogonadotrop</li>
                    <ul>
                        <li>o Etiologie hipotalamică</li>
                        <li>o Posibil asocierea unei afectări primare gonadale (exista un nivel foarte scăzut al
                            inhibinei B în absența afectării gonadotropilor)</li>
                    </ul>
                    <li>• Tablou clinic:</li>
                    <ul>
                        <li>o Hipoplazie genitală, retard pubertar, infertilitate (posibil uneori reproducerea spontană)
                        </li>
                        <ul>
                            <li> La sexul masculin</li>
                            <ul>
                                <li>• Micropenis</li>
                                <li>• Scrot hipoplazic, piele scrotală neplicaturată sau hipoplicaturată cu pigmentație
                                    redusă</li>
                                <li>• Criptorhidism uni/bilateral (90%) – tratament cu beta-hCG apoi orhidopexie la
                                    vârsta mică</li>
                            </ul>
                            <li> La sexul feminin</li>
                            <ul>
                                <li>• Hipoplazia genitală (labii și clitoris hipoplazice) este mai puțin evidentă</li>
                            </ul>
                        </ul>
                        <li>o Pubarhă prematură (20-30%); adrenarhă prematură (20%)</li>
                        <li>o Pubertate precoce centrală idiopatică la 5%</li>
                    </ul>
                    <li>• Paraclinic:</li>
                    <ul>
                        <li>o Niveluri scăzute ale gonadotropinelor – hipogonadism hipogonadotrop</li>
                        <li>o Uneori, vârsta osoasă avansată</li>
                    </ul>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card-container">
                <h1>Deficitul hormonului de creștere</h1>
                <ul>
                    <li>• Deficit de hormon de creștere la copil și adult</li>
                    <li>• Indicație de tratament cu hormon de creștere indiferent de prezența/absența deficitului
                        hormonal – datorită efectului metabolic favorabil</li>
                    <li>• În absența tratamentului cu hormon de creștere:</li>
                    <ul>
                        <li>o Hipostatură (60-70%) - observată mai bine după vârsta de 10 ani</li>
                        <li>o Lipsa creșterii staturale accelerate la vârsta pubertară</li>
                        <li>o Talia finală:</li>
                        <ul>
                            <li> La bărbați - 155 cm</li>
                            <li> La femei - 148 cm</li>
                        </ul>
                        <li>o Mâini și picioare mai mici (acromicrie) - sub percentila 5 în absența tratamentului cu GH
                        </li>
                        <ul>
                            <li> Mărimea medie a piciorului:</li>
                            <ul>
                                <li>• La femei - 20.3 cm</li>
                                <li>• La bărbați - 22.3 cm</li>
                            </ul>
                        </ul>
                    </ul>
                    <li>• Sub tratament cu hormon de creștere – restaurarea creșterii liniare și a unei talii adulte în
                        norme:</li>
                    <ul>
                        <li>o Talia finală:</li>
                        <ul>
                            <li> La bărbați - 158 cm</li>
                            <li> La femei - 171 cm</li>
                        </ul>
                    </ul>
                    <li>• Curbe de creștere pentru copii cu SPW tratați sau netratați cu hormon de creștere</li>
                </ul>

            </div>
        </div>
    </div>
    </div>

    <div class="row g-0">
        <div class="col-12 col-md-6">
            <div class="card-container">
                <h1>Dizabilitatea intelectuala</h1>
                <ul>
                    <ul class="section-list">
                        <li>• Majoritatea - dizabilitate intelectuală ușoară - IQ mediu = 60-70</li>
                        <li>• 40% - nivel intelectual „borderline” / inteligență normală</li>
                        <li>• 20% - dizabilitate intelectuală medie</li>
                    </ul>
                    <p class="section-description">Particularități:</p>
                    <ul class="section-list">
                        <li>o Majoritatea - tulburări de învățare</li>
                        <li>o Unii pacienți finalizează o formă medie de învățământ (bacalaureat)</li>
                        <li>o Abilități superioare pentru a rezolva puzzle (pacienții cu deleție 15q)</li>
                    </ul>

            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card-container">
                <h1>Diabetul tip 2</h1>
                <ul>
                    <li>• Complicație a obezității severe</li>
                    <ul>
                        <li>o 25% dintre adulții cu SPW prezintă diabet tip 2</li>
                        <li>o Vârsta medie la debut de 20 ani</li>
                    </ul>
                    <li>• Scăderea vârstei la diagnostic și intervenția timpurie au condus la reducerea numărului de
                        pacienți cu obezitate morbidă și diabet zaharat tip 2</li>
                </ul>
            </div>
        </div>
        
    </div>
    <div class="row g-0">
        <div class="col-12 col-md-6">
            <div class="card-container">
                <h1>Disfuncția hipotalamo-hipofizară</h1>
                <ul>
                    <li> Responsabilă de deficite hormonale multiple</li>
                    <ul>
                        <li>o GH</li>
                        <li>o FSH, LH</li>
                        <li>o TSH</li>
                        <li>o ACTH</li>
                        <li>o Anomalii ale neuronilor secretați de ocitocină</li>
                    </ul>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card-container">
                <h1>Hipotiroidismul central</h1>
                <ul>
                    <li>• Profil hormonal: TSH normal și FT4 scăzut</li>
                    <ul>
                        <li>o 25% dintre pacienții cu SPW</li>
                        <li>o Vârsta medie la diagnostic 2 ani</li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>




    <div class="table_container">
        <h3 class="title">Frecvența principalelor trăsături clinice</h3>
        <table class="clinical-table">
            <thead>
                <tr>
                    <th class="header">Semn clinic</th>
                    <th class="header">% din pacienti</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="cell">Hipotonie în primul an de viață + alimentație deficitară, gavaj</td>
                    <td class="cell">95%-100%</td>
                </tr>
                <tr>
                    <td class="cell">Retard global de dezvoltare</td>
                    <td class="cell">90%-100%</td>
                </tr>
                <tr>
                    <td class="cell">Dizabilitate intelectuală – adesea ușoară/moderată</td>
                    <td class="cell">90%-100%</td>
                </tr>
                <tr>
                    <td class="cell">Retard și tulburări ale limbajului</td>
                    <td class="cell">90%-100%</td>
                </tr>
                <tr>
                    <td class="cell">Modificări endocrine - hipogonadism, deficit GH, hipotiroidism, diabet zaharat,
                        insuficiență corticosuprarenaliană</td>
                    <td class="cell">90%-100%</td>
                </tr>
                <tr>
                    <td class="cell">Obezitate, hiperfagie</td>
                    <td class="cell">90%-100%</td>
                </tr>
                <tr>
                    <td class="cell">Tulburări ale comportamentului - anxietate, tulburare obsesiv-compulsivă, trăsături
                        autistice, ADHD, uneori psihoză în UPD15</td>
                    <td class="cell">70%-90%</td>
                </tr>
                <tr>
                    <td class="cell">Creșterea pragului la durere (poate masca urgențele medicale)</td>
                    <td class="cell">60%-80%</td>
                </tr>
                <tr>
                    <td class="cell">Sindrom dismorfic</td>
                    <td class="cell">50%-70%</td>
                </tr>
                <tr>
                    <td class="cell">Hipopigmentare</td>
                    <td class="cell">50%-70%</td>
                </tr>
                <tr>
                    <td class="cell">Piscături ale pielii</td>
                    <td class="cell">50%-60%</td>
                </tr>
                <tr>
                    <td class="cell">Strabism</td>
                    <td class="cell">40%-60%</td>
                </tr>
                <tr>
                    <td class="cell">Anomalii ale somnului – apnee centrală, apnee obstructivă de somn, narcolepsie</td>
                    <td class="cell">30%-40%</td>
                </tr>
                <tr>
                    <td class="cell">Scolioză</td>
                    <td class="cell">40%-80%</td>
                </tr>
                <tr>
                    <td class="cell">Convulsii – tipic generalizate și tratabile</td>
                    <td class="cell">10%-20%</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="carousel">
        <div class="container mt-5">
            <div class="owl-carousel owl-theme mt-5">
                <div class="item">
                    <div class="card">
                        <div class="card-body text-center">
                            <a href="{% url 'Trasaturi_clinice' %}">
                                <img src="{% static 'index/Resources/p1.jpg' %}" class="card-img-top"
                                    alt="Ghiduri">
                            </a>
                            <h5 class="card-title">Trasaturi Clinice</h5>
                            <p class="card-text">Prezentarea trasaturilor clinice pentru diagnosticul PWS</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <div class="card-body text-center">
                            <a href="{% url 'Obezitate' %}">
                                <img src="{% static 'index/Resources/p3.jpg' %}" class="card-img-top">
                            </a>
                            <h5 class="card-title">Trasaturile obezitatii</h5>
                            <p class="card-text">Apetitul, obezitatea si modificari gastrointestinale</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <div class="card-body text-center">
                            <a href="{% url 'Comportament' %}">
                                <img src="{% static 'index/Resources/p4.jpg' %}" class="card-img-top">
                            </a>
                            <h5 class="card-title">Comportament si alte trasaturi</h5>
                            <p class="card-text">Dismorfie, dermatologie, oftalmologie,modificari scheletale, epilepsia,
                                modificari dentare, neuroimagistica.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <div class="card-body text-center">
                            <a href="{% url 'Criterii_clinice' %}">
                                <img src="{% static 'index/Resources/p5.jpg' %}" class="card-img-top">
                            </a>
                            <h5 class="card-title">Criterii clinice</h5>
                            <p class="card-text">Prezentarea criteriilor pe etape de viata.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <div class="card-body text-center">
                            <a href="{% url 'Criterii_obezitate' %}">
                                <img src="{% static 'index/Resources/p6.jpg' %}" class="card-img-top">
                            </a>
                            <h5 class="card-title">Criterii obezitate</h5>
                            <p class="card-text">Prezentarea criteriilor pentru obezitate si algoritmul clinic:
                                obezitate de cauza genetica.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <div class="card-body text-center">
                            <a href="{% url 'Diagnostic_genetic' %}">
                                <img src="{% static 'index/Resources/p7.jpg' %}" class="card-img-top">
                            </a>
                            <h5 class="card-title">Diagnostic genetic</h5>
                            <p class="card-text">Prezentarea diagnosticului genetic</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <section class="game-section">
        <h2 class="line-title">Trending Medical Topics</h2>
        <div class="owl-carousel custom-carousel owl-theme">
            <div class="item active"
                style="background-image: url(https://cdn.prod.website-files.com/650c1bee516c4e723b11b29a/65206264927e177f8bd65950_651f6a5b0bcc2eb5956182ea_Top%252050%2520Healthcare%2520Companies%2520and%2520Their%2520Impact%2520on%2520the%2520Industry.webp);">
                <div class="item-desc" data-url="{% url 'Test' %}">
                    <h3>Prader-Wili</h3>
                    <p>Prader-Willi (PRAH-dur VIL-e) syndrome is a rare genetic disorder that results in a number of
                        physical, mental, and behavioral problems.</p>
                </div>
            </div>
            <div class="item"
                style="background-image: url(https://media.licdn.com/dms/image/v2/D4D12AQF-UNBK1Cd76A/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1692008950713?e=2147483647&v=beta&t=np9IYeph2hO3qky7DCqB0sM5KvXP3HWTBT5bknBBlnY);">
                <div class="item-desc" data-url="{% url 'Test' %}">
                    <h3>Telemedicine</h3>
                    <p>Telemedicine involves the use of telecommunication technology to provide healthcare services
                        remotely, improving access to medical care.</p>
                </div>
            </div>
            <div class="item"
                style="background-image: url(https://cdn.shopify.com/s/files/1/0817/7988/4088/articles/2ZQTdBKFxvkLYhrtyeWOdg_8fa4b085-dafa-4196-9a61-36db54e3c457.jpg?v=1712945641);">
                <div class="item-desc" data-url="{% url 'Test' %}">
                    <h3>Vaccination</h3>
                    <p>Vaccination is a crucial public health tool that helps prevent the spread of infectious diseases
                        by inducing immunity in individuals.</p>
                </div>
            </div>
            <div class="item"
                style="background-image: url(https://www.healthcareitnews.com/sites/hitn/files/Global%20healthcare_2.jpg);">
                <div class="item-desc" data-url="{% url 'Test' %}">
                    <h3>Mental Health</h3>
                    <p>Mental health encompasses emotional, psychological, and social well-being, affecting how we
                        think, feel, and act.</p>
                </div>
            </div>
            <div class="item"
                style="background-image: url(https://images.everydayhealth.com/images/healthy-living/about-us-hero-alt.jpg?sfvrsn=68592040_1);">
                <div class="item-desc" data-url="{% url 'Test' %}">
                    <h3>Nutrition</h3>
                    <p>Nutrition involves the intake of food necessary for health and growth, playing a vital role in
                        maintaining overall well-being.</p>
                </div>
            </div>
            <div class="item" style="background-image: url(https://www.watford.gov.uk/images/health1.jpg);">
                <div class="item-desc" data-url="{% url 'Test' %}">
                    <h3>Genomics</h3>
                    <p>Genomics is the study of genomes, the complete set of DNA within an organism, and its
                        applications in medicine and biology.</p>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container2">
            <p>&copy; Driscoll DJ, Miller JL, Cassidy SB. Prader-Willi Syndrome. 1998 Oct 6 [Updated 2024 Dec 5]. In:
                Adam MP, Feldman J, Mirzaa GM, et al., editors. GeneReviews® [Internet]. Seattle (WA): University of
                Washington, Seattle; 1993-2024. Available from: https://www.ncbi.nlm.nih.gov/books/NBK1330/
                Protocole National de Diagnostic et de Soins (PNDS) Syndrome de Prader-Willi. Centre de référence du
                syndrome de Prader-Willi et autres Obésités Rares avec troubles du comportement alimentaire (PRADORT),
                2021
            </p>
        </div>
    </footer>

    <script>
        $(document).ready(function () {
            $('.item-desc').on('click', function () {
                // Get the URL from the data attribute
                const url = $(this).data('url');
                // Navigate to the URL
                window.location.href = url;
            });
        });
    </script>




    <!-- Initialize Owl Carousel -->
    <script>
        $(".custom-carousel").owlCarousel({
            autoWidth: true,
            loop: false
        });
        $(document).ready(function () {
            $(".custom-carousel .item").click(function () {
                $(".custom-carousel .item").not($(this)).removeClass("active");
                $(this).toggleClass("active");
            });
        });

        $(document).ready(function () {
            $(".owl-carousel").owlCarousel({
                loop: true,
                margin: 10,
                nav: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 3
                    }
                }
            });
        });


    </script>



</body>
{%endblock%}

</html>